<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="olxTest suite">
	<test name="olxTest">
		<classes>			           
			<class name="com.demo.Test.StartingPage"></class>
			<class name="com.demo.Test.Validations"></class>
			<class name="com.demo.Test.HomePage"></class>
		</classes>
	</test>
</suite>